<h1><%= @song.title %></h1>

<ul>
  <li><%= "Released: #{@song.released}"  %></li>
  <li><%= "Release year: #{@song.release_year}" if @song.released %></li>
  <li><%= "Artist: #{@song.artist_name}"  %></li>
  <li><%= "Genre: #{@song.genre}" if @song.genre %></li>
</ul>
<br>

<%= link_to "Edit", edit_song_path(@song) %> <br>
<%= form_tag song_path(@song), method: "delete" do %>
  <%= submit_tag "Delete #{@song.title}" %>
<% end %>